* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 1rem;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: calc(100vh - 3rem); */
    justify-content: space-around;
    background-color: black;
}

.button {
    border: 3pt solid black;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    align-items: center;
    background-color: white;
}

#left-arrow, #right-arrow {
    font-size: 3rem;
}

#image-container {
    display: flex;
    background-image: url('./media/ump.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    height: 75vh;
    width: 800px;
}