* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 1rem;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);
}

.trump {
    display: flex;
    background-image: url('./media/ump.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 75vw;
}

.melania {
    position: absolute;
    background-image: url('./media/mel.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 250px;
    bottom: 0;
    left: 0;
}

.ivanka {
    position: absolute;
    background-image: url('./media/ivanka.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 250px;
    top: 0;
    right: 0;
}